body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.title-link {
    text-decoration: none; /* Supprime le soulignement */
    color: inherit; /* Utilise la couleur de texte par défaut */
}

.title-link h1 {
    color: black; /* Change la couleur du texte si nécessaire */
}

h1 {
    margin: 0;
    font-size: 24px;
}

.github-logo {
    width: 32px; /* Ajuste la taille selon tes besoins */
    height: 32px;
	margin-right: 30px;
}

.download-container {
    display: flex;
}

.download-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:110px; /* Même largeur que le logo GitHub */
    height: 32px; /* Même hauteur que le logo GitHub */
    background-color: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
	padding: 5px 8px; /* Augmente l'espace interne */
	font-size: 18px; /* Augmente la taille du texte */
	margin-right: 50px;
	margin-top: -4px;
}

.download-button:hover {
    background-color: #43484D;
}


main {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
}

.portfolios {
    width: 100%;
}

.portfolios h2, .mandatory h2 {
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

.portfolios h2 {
	margin-bottom: 40px;
}

.portfolio-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 300px; /* Largeur agrandie */
    padding: 30px; /* Plus d'espace intérieur */
    border: 1px solid #000; /* Bordure fine noire */
    border-radius: 16px; /* Coins plus arrondis */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff; /* Fond blanc */
}

.card h3, .card p {
    font-weight: bold; /* Texte en gras */
}

.card h3 {
    margin: 0;
    font-size: 20px; /* Taille de police augmentée */
}

.card p {
    margin: 10px 0;
    font-size: 16px; /* Taille de police augmentée */
    color: #555;
}

.card button {
    width: 80%; /* Largeur réduite pour laisser de l'espace */
    padding: 10px 16px; /* Bouton plus épais */
    background-color: #000; /* Couleur de fond noire */
    color: #fff;
    border: none;
    border-radius: 24px; /* Coins plus arrondis */
    cursor: pointer;
    font-size: 16px; /* Taille de police augmentée */
    margin-top: 10px;
}

.mandatory {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.mandatory h2 {
	margin-bottom: 20px;
}

.mandatory img {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

/* Partie upload delete */

.file-transfer {
    padding: 20px;
    text-align: center;
}

.upload-section, .delete-section {
    margin-bottom: 20px;
}

.button {
    border: none;
    padding: 1rem 3rem;
    background-color: #333;
    border-radius: 15px;
    font-weight: semibold;
    color: #f0f0f0;
    cursor: pointer;
}


