body {
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #ffffff;
}

.top-bar {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  color: #00ff00;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.top-bar a {
  padding: 2px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
